<section id="user-details-body">
    <div id="user-details">
        <div class="user-leftside">
            <div id="profil-photo"></div>
            <div class="user-bot-leftside">
                <div class="isActive?">
                    <div id="isActived"> Actived </div>
                    <div *ngIf="false" id="isNotActived"> Not actived </div>
                </div>
            </div>
        </div>
        <div class="user-rightside">
            <button id="close-btn" (click)="closeDetails()"> X </button>
            <div class="inner-user-rightside">
                <div class="top">
                    <div> Nom de l'utilisateur </div>
                    <div class="bold"> Patrick Fiori </div>
                </div>

                <div class="middle-top">
                    <div> Date d'inscription </div>
                    <div class="bold"> Vendredi 13 Mars 2000 </div>
                </div>

                <div class="email">
                    <label>Email</label>
                    <div class="bold"> antoebtf@hotmail.com </div>
                </div>

                <div class=""></div>
                <div class="bottom">
                    <div> isPremium </div>
                    <div> Utilisateur commun </div>
                    <button id="delete-user-btn"> Supprimer l'utilisateur </button>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- needfix: Dynamiser -->