<section id='admin-body'>
    <app-navbar></app-navbar>
    <!-- Section contenant les informations du profil -->
    <section id="admin-div">
        <div id="profil-date" class="admin-sections"> Date d'inscription : 12/01/2000 </div>
        <!-- needfix: Dynamique -->
        <div id="profil-details" class="admin-sections">
            <div id="profil-img"> </div>
            <!-- needfix: Ajouter une étoile en haut à droite -->
            <div id="profil-name"> Jean-Mivrijvrjzovzoprjvzvopjrv </div>
        </div>
        <div id="profil-role" class="admin-sections"> ADMIN </div> <!-- needfix: Ajouter membre role -->
    </section>
    <!-- Liste des différentes catégories -->
    <ul>
        <li *ngFor='let cate of categories' (click)='selectCate(cate)' [ngClass]=" selectedCategory === cate ? 'selected': '' "> {{cate | uppercase}}</li>
    </ul>
    <!-- Affiche la catégorie sélecionnée -->
    <app-user-list *ngIf='selectedCategory === "user" ' ></app-user-list>
    <app-show-list *ngIf="selectedCategory === 'shows' " ></app-show-list>
</section>

<button class="edit-btn" id="modify-btn" *ngIf='!onModify' (click)="startModification()"> Modifier </button>
<div class="edit-div">
<button class="edit-btn" *ngIf="onModify" (click)="endOnModify()"> Sauvegarder les modifications </button>
<button class="edit-btn" *ngIf="onModify" (click)="endOnModify()"> Annuler </button>
</div>

<app-user-details *ngIf="conf.getUserDetailsModalStatus()"></app-user-details>