app-navbar {
  z-index: 10;
  position: fixed;
  width: 100vw;
}

#profil-body {
  height: 100vh;
  background-image: url(https://i.pinimg.com/564x/df/0a/ea/df0aead34ac7367eba75c0d9998133bf.jpg);
}

#profil-background {
  width: 100vw;
  height: 30vh;
  background-image: url(https://i.pinimg.com/564x/48/a2/6c/48a26c030180a205cd11318a9f8c7142.jpg);
  background-size: cover;
  background-position: 10px -350px;
  position: fixed;
  top: 0;
}

#profil-avatar {
  background-image: url(https://i.pinimg.com/564x/48/a2/6c/48a26c030180a205cd11318a9f8c7142.jpg);
  background-position: center;
  background-size: cover;
  height: 175%;
  width: 22.5%;
  border: solid white 5px;
  position: relative;
  top: 10vh;
  left: 5vw;
}

#profil-name {
  position: fixed;
  font-size: 2.5em;
  left: 30vw;
  top: 23vh;
}

#profil-btn-edit {
  background-color: transparent;
  color: white;
  border-radius: 20px;
  border: solid white 2px;
  position: fixed;
  right: 2vw;
  top: 20vh;
  height: 7vh;
  width: 20vw;
  font-size: 1.4em;
}

#profil-show {
  background-color: rgba(51, 19, 19, 0.678);
  height: 60vh;
  width: 65vw;
  position: fixed;
  left: 30vw;
  top: 35vh;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: space-around;
}

#profil-show h2 {
  font-size: 2.6em;
  letter-spacing: 0.7em;
}
#myShows {
  background-color: rgba(8, 8, 8, 0.5);
  width: 95%;
  height: 80%;
  overflow: auto;
}
