#user-list-body {
  width: 100vw;
  height: 46vh;
  margin-top: 2vh;
  overflow-y: auto;
  overflow-x: hidden;
}

.user-details {
  margin-bottom: 3vh;
  flex-flow: row nowrap;
  background-color: rgba(24, 5, 2, 0.664);
  height: 5vh;
  justify-content: space-around
}

.user-details,
.user-name,
user-mail {
  display: flex;
  align-items: center;
}

.user-name{
  cursor: pointer;
}

#isActived {
  color: #35922a;
}

#isNotActived {
  color: red;
}
