app-navbar {
  z-index: 10;
  position: fixed;
  width: 100vw;
}

#shows-body {
  height: 100vh;
  backdrop-filter: blur(0.8); 
  background-image: url(https://www.zoorigin.com/media/thumbnail/article_cover/media/images/xle-cirque-et-les-animaux-une-question-qui-fait-debat-3.jpg.pagespeed.ic.8Tr2rGI_kr.jpg);
  background-size: cover;
  background-position: center;
  overflow: auto;
}

.shows-container {
  width: 100vw;
  margin-top: 10vh;
}

.shows-container h2 {
  text-align: center;
  font-size: 2.3em;
}

.shows-list {
  margin-top: 20px; 
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.show {
  height: 35vh;
  width: 20vw;
  border: solid 5px white; 
}

.show-image {
  height: 80%;
  background-position: center;
  background-size: cover;
}


.show-details{
  height: 20%;
  background-color: green;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.1em;
}