<app-navbar></app-navbar>

<section id="shows-body">

    <section id="free-shows" class="shows-container">
        <h2> Free Shows </h2>
        <div id="free-shows-list" class="shows-list">
            <div *ngFor="let freeShow of freeShows" class="show">
                <div class="show-image"></div>
            <div class="show-details"> <p> {{freeShow.name}}  - {{freeShow.freePlace}} / {{freeShow.nbPlace}} </p> </div>
            </div>
        </div>
    </section>
    <section id="premium-shows" class="shows-container">
        <h2> Premium shows </h2>
        <div id="premium-shows-list" class="shows-list">
            <div *ngFor="let premShow of premiumShows" class="show">
                <div class="show-image"></div>
          <div class="show-details"> <p> {{premShow.name}}  - {{premShow.freePlace}} / {{premShow.nbPlace}}</p> </div>
            </div>
        </div>
    </section>
</section>