app-navbar {
  z-index: 10;
  position: fixed;
  width: 100vw;
}

#shows-body {
  height: 100vh;
  background-color: red;
  overflow: auto;
}

.shows-container {
  width: 100vw;
  background-color: grey;
  margin-top: 10vh;
}

.shows-container h2 {
  text-align: center;
  font-size: 2.3em;
}

.shows-list {
  margin-top: 20px; 
  background-color: blue;
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.show {
  background-color: black;
  height: 35vh;
  width: 20vw;
  border-radius: 10px;
}

.show-image {
  background-color: lightyellow;
  height: 80%;
}


.show-details{
  height: 20%;
  background-color: green;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.1em;
}